body {
    font-family: system-ui;
    background-image: url('chronos.jpg');
    width:100%;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-bottom:50px;
}

button {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#lap ul{
    display: flex;
    width: 25%;
    align-items: flex-end;
}
#container2>button{
    margin-top:10px;
}
.jour>input{
    background-color: rgb(236, 217, 193);
    border-radius: 10px;
    padding: 10px;
    
}